.cell {
    height: 70px;
    border: solid 1px;
    background-color: #1c1d1f;
    border-radius: 5%;
}

 @media (min-width: 320px) and (max-width: 767px) {
    .cell {
        height: 50px;
    }

    .image {
        height: 32px;
        width: 32px;
    }
 }

.image {
    height: 40px;
    width: 40px;
} 

.row {
    --bs-gutter-x: 0;
}

.poop {
    border: solid 1px;
    background-color: black;
    border-radius: 10%;
    transition: 0.3s;
}

.poop:hover {
    background-color: azure;
}
